// Specific CSS for your home-page
.banana{
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.banana img{
  // width: 200px;
  // height: 129px;
  position: absolute;
  top: 10%;
  right: 40%;
}

.banana h1 {
  position: absolute;
  top: 20%;
  right: 20%;
  font-size: 52px;
  background: -webkit-linear-gradient(#9030B9, #0d92e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banana h4 {
  position: absolute;
  top: 26.5%;
  right: 20%;
}

.video-section video{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
