<div class="porpuse fade-in">
  <div class="slide-in from-left">
    <h1><strong>OUR PORPUSE</strong></h1>
    <p>
      <strong>To deliver</strong> on the <strong>promise</strong> of technology
      and human ingenuity
      <strong>We embrace</strong> the <strong>power of change</strong> to create 360° value
      for our clients, people and communities.
      We now work with 91 of the Fortune Global 100. As of 2020, we've made 18 consecutive appearances on the list of Fortune's "World's Most Admired Companies". And that's just the beginning.
    </p>
  </div>
  <div class="slide-in from-right">
    <%= image_tag "our-porpuse.png", alt: "alttext" %>
  </div>
</div>

<div class="care fade-in">
  <div class="slide-in from-left">
    <%= image_tag "care.png", alt: "alttext" %>
  </div>
  <div class="slide-in from-right">
    <h1><strong>CARE TO DO BETTER</strong></h1>
    <p>
      Building <strong>trust</strong> to enhance
      employee <strong>potential</strong> and leave
      your <strong>people</strong> and your <strong>business</strong>
      Net Better Off
    </p>
  </div>
</div>

<div class="core fade-in">
  <div class="slide-in from-left">
    <h1><strong>OUR CORE VALUES</strong></h1>
    <p>
      Our values <strong>shape the culture</strong> of our organization
      and <strong>define the character</strong> of our company. We live
      the core values through <strong>individual behaviors</strong>. They
      serve as the <strong>foundation</strong> for how we act and make <strong>decisions</strong>.
    </p>
  </div>
  <div class="slide-in from-right">
    <%= image_tag "core-val.png", alt: "alttext" %>
  </div>
</div>

<div class="change fade-in">
  <div class="slide-in from-left">
    <%= image_tag "change.png", alt: "alttext" %>
  </div>
  <div class="slide-in from-right">
    <h1><strong>WE MAKE A CHANGE</strong></h1>
    <h2><strong>FOR YOU AND YOUR BUSINESS</strong></h2>
    <p>
      <strong>Growing customer expectations</strong>. Market-shaping AI.
      Self-optimizing systems.
      The post-digital age shows <strong>no signs of slowing down</strong>, and the need for rapid business transformation has never been greater.
      <strong>We meet clients</strong> wherever they are on their paths to change—in every industry <strong>across the globe</strong>—and partner with them to create lasting value.
    </p>
  </div>

</div>
