<div class="main-info">
  <div class="main-info-01">
    <div>
      <%= image_tag "mini-logo.png", alt: "alttext" %>
      <h4>accenture</h4>
    </div>
    <div>
      <ul class="social-media">

        <li><a href="https://www.linkedin.com/company/accenture/"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://twitter.com/Accenture"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/accenture"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.youtube.com/accenture"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="main-info-02">
    <p><strong>Locations</strong></p>
    <ul>
      <li><a href="https://www.accenture.com/us-en/about/location-index">See all locations</a></li>
      <li><a href="https://www.accenture.com/us-en/about/locations/office-details?loc=Argentina">Argentina</a></li>
      <li><a href="https://www.accenture.com/us-en/about/locations/office-details?loc=Germany">Germany</a></li>
      <li><a href="https://www.accenture.com/us-en/about/locations/office-details?loc=United%20States">United States</a></li>
      <li><a href="https://www.accenture.com/us-en/about/locations/office-details?loc=Ireland">Ireland</a></li>
    </ul>
  </div>

  <div class="main-info-02">
    <p><strong>Careers</strong></p>
    <ul>
      <li><a href="https://www.accenture.com/us-en/careers">Careers Home</a></li>
      <li><a href="https://www.accenture.com/us-en/careers/jobsearch?jk=&sb=1">Search and Apply</a></li>
      <li><a href="https://www.accenture.com/us-en/careers/explore-careers/area-of-interest/applied-intelligence-careers">AI Jobs</a></li>
      <li><a href="https://www.accenture.com/us-en/careers/explore-careers/area-of-interest/technology-careers">Technology Jobs</a></li>
      <li><a href="https://www.accenture.com/us-en/careers/explore-careers/area-of-interest/cybersecurity-careers">Cybersecurity Jobs</a></li>
    </ul>
  </div>

  <div class="main-info-02 d-flex justify-content-center align-items-center">
    <a id="contact-us" href="https://www.accenture.com/us-en/about/contact-us"><strong>Contact Us</strong></a>
  </div>
</div>
<div class="sub-info">
  <p>© 2020 Accenture-Challenge. By Rodrigo Sommacal.</p>

  <a href="https://info.accenture.com/accenturesubscriptioncenter"><button type="button" class="btn btn-outline-secondary" style="border-radius:4px;">Subscribe</button></a>
</div>
