<section class="banana">
  <h1 class="title" style="color: white;">accenture</h1>
  <h4 class="subtitle" style="color: white;">{ Let there be a <strong>change</strong> .}</h4>
  <%= image_tag "logo", alt: "alttext", :class => 'banana_img' %>
</section>
<section class="video-section">

</section>
