header{
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo-navbar img {
  height: 54px;
  margin: 0 36px;
}

.nav-bar-elements{
  ul{
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin-right: 40px;
    li a {
      text-decoration: none;
      margin: 0 40px;
      color: white;
    }
    .nav-element-wrapper {
      position: absolute;
      z-index: 4;
      background-color: rgba(255,255,255,0.4);
      transform: scale(1.5);
      transition: all 0.75s ease;
    }
  }
}
